<h1><%= link_to @user.login, "https://github.com/#{@user.login}" %></h1>

<h3>Top 5 Repositories</h3>
<ul>
  <% ArchiveExtensions::TopContributedRepositories.for(login: @user.login).each do |repo| %>
    <li><%= link_to repo.fetch("repo").full_name, github_repository_path(repo.fetch("repo").id) %> - PR count: <%= repo.fetch("prs") %> </li>
  <% end %>
</ul>

<h3>Languages</h3>
<%= render partial: "languages", locals: { login: @user.login, limit: nil } %>

<%= render partial: "activity", locals: { login: @user.login, limit: nil } %>
